<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="shared/layout :: common_header(~{::title},~{::link})">
    <title>登录测试</title>
    <link rel="stylesheet" th:href="@{/css/auth-login.css}">
</head>
<body>
<div class="m-login-bg">
    <div class="m-login">
        <h3>统一身份认证登录系统</h3>
        <div class="m-login-warp">
            <form class="layui-form" method="post">
                <div class="layui-form-item">
                    <input type="text" name="user" required lay-verify="required" placeholder="用户名" autocomplete="off" class="layui-input" />
                </div>
                <div class="layui-form-item">
                    <input type="password" name="pwd" required lay-verify="required" placeholder="密码" autocomplete="off" class="layui-input" />
                </div>
                <!--
                <div class="layui-form-item hidden">
                    <div class="layui-inline">
                        <input type="text" name="verity" required lay-verify="required" placeholder="验证码" autocomplete="off" class="layui-input" />
                    </div>
                    <div class="layui-inline">
                        <img id="verifyImg" class="verifyImg" onclick="this.src='/Home/Captcha?_t='+new Date().getTime();" src="/Home/Captcha" />
                    </div>
                </div>
                -->
                <div class="layui-form-item m-login-btn">
                    <div class="layui-inline">
                        <button class="layui-btn layui-btn-normal" lay-submit lay-filter="login">登录</button>
                    </div>
                    <div class="layui-inline">
                        <button type="reset" class="layui-btn layui-btn-primary">取消</button>
                    </div>
                </div>
            </form>
        </div>
        <p class="copyright">Copyright &copy; Banana @DateTime.Now.Year </p>
    </div>
</div>
</body>
</html>
